.user-content {
  color: black;
  background-color: #eee;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.user-content .user-item {
  display: flex;
  height: 120rpx;
  background-color: #fff;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.user-content .user-item .user-item-cell {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.user-content .user-item .user-item-cell .cell-line {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.user-content .user-item .user-item-cell .cell-line i {
  font-size: 36rpx;
  margin-right: 15rpx;
}
.user-content .user-item .user-item-cell .cell-line .bold-font {
  font-weight: bold;
}
.user-content .user-item .user-item-cell .cell-line .light-font {
  font-weight: 500;
  color: #999;
}
.user-content .user-item .user-item-cell .cell-line .normal-font {
  font-weight: 500;
}
.user-content .user-item .user-item-cell img {
  width: 120rpx;
  height: 120rpx;
  border-radius: 10rpx;
}
.user-content .user-item .user-item-cell.title {
  flex: 3;
  margin-left: 20rpx;
}
.user-content .user-item .user-item-cell.content {
  flex: 7;
}
.user-content .user-item .user-item-cell.arrow {
  flex: 2;
}
.user-content .user-item.double {
  height: 240rpx;
  margin: 0rpx 0rpx 15rpx 0rpx;
}
.user-content .user-item.auto {
  min-height: 80rpx;
  height: auto;
  margin: 15rpx 0rpx 15rpx 0rpx;
}
.user-content .user-item-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 10rpx 0rpx 10rpx 0rpx;
}
.user-content .user-item-list .user-item {
  display: flex;
  height: 120rpx;
  margin: 0;
  border: solid 1px #eee;
  background-color: #fff;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.user-content .user-item-list .user-item .user-item-cell {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.user-content .user-item-list .user-item .user-item-cell .cell-line {
  width: 100%;
}
.user-content .user-item-list .user-item .user-item-cell .cell-line .bold-font {
  font-weight: bold;
}
.user-content .user-item-list .user-item .user-item-cell .cell-line .light-font {
  font-weight: 500;
  color: #999;
}
.user-content .user-item-list .user-item .user-item-cell img {
  width: 120rpx;
  height: 120rpx;
  border-radius: 10rpx;
}
.user-content .user-item-list .user-item .user-item-cell.title {
  flex: 3;
  margin-left: 20rpx;
}
.user-content .user-item-list .user-item .user-item-cell.content {
  flex: 7;
}
.user-content .user-item-list .user-item .user-item-cell.arrow {
  flex: 2;
}
.user-content .user-item-list .user-item.double {
  height: 240rpx;
}
.user-content .user-item-list .user-item.auto {
  min-height: 80rpx;
  height: auto;
}
