.user-content{
    color:black;
    background-color: #eee;
    width: 100%;
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .user-item{
        display: flex;
        height: 120rpx;
        background-color:#fff;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        .user-item-cell{
            display:flex;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .cell-line{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                i{
                    font-size: 36rpx;
                    margin-right:15rpx;
                }
                .bold-font{
                    font-weight: bold;
                }
                .light-font{
                    font-weight: 500;
                    color:#999;
                }
                .normal-font{
                    font-weight: 500;
                }
            }
            img{
                width: 120rpx;
                height:120rpx;
                border-radius: 10rpx;
            }
            &.title{
                flex:3;
                margin-left:20rpx;
            }
            &.content{
                flex:7;
            }
            &.arrow{
                flex:2;
            }
        }
        &.double{
            height: 240rpx;
            margin:0rpx 0rpx 15rpx 0rpx;
        }
        &.auto{
            min-height: 80rpx;
            height: auto;
            margin:15rpx 0rpx 15rpx 0rpx;
        }
    }
    .user-item-list{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin:10rpx 0rpx 10rpx 0rpx;
        .user-item{
            display: flex;
            height: 120rpx;
            margin:0;
            border:solid 1px #eee;
            background-color:#fff;
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            .user-item-cell{
                display:flex;
                width: 100%;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                .cell-line{
                    width: 100%;
                    .bold-font{
                        font-weight: bold;
                    }
                    .light-font{
                        font-weight: 500;
                        color:#999;
                    }
                }
                img{
                    width: 120rpx;
                    height:120rpx;
                    border-radius: 10rpx;
                }
                &.title{
                    flex:3;
                    margin-left:20rpx;
                }
                &.content{
                    flex:7;
                }
                &.arrow{
                    flex:2;
                }
            }
            &.double{
                height: 240rpx;
            }
            &.auto{
                min-height: 80rpx;
                height: auto;
            }
        }
       
    }
    
}